<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hoops_Chromium_Edition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="x86"/>
    </assemblyBinding>
</runtime>
 <userSettings>
  <Hoops_Chromium_Edition.Properties.Settings>
   <setting name="MediaItUrlString" serializeAs="String">
    <value>https://www.youtube.com/results?search_query=</value>
   </setting>
   <setting name="SearchItUrlString" serializeAs="String">
    <value>https://www.google.co.uk/search?q=</value>
   </setting>
   <setting name="MediaItButtonText" serializeAs="String">
    <value>YouTube it</value>
   </setting>
   <setting name="SearchItButtonText" serializeAs="String">
    <value>Google it</value>
   </setting>
   <setting name="CustomTitleText" serializeAs="String">
    <value />
   </setting>
   <setting name="PlaceHolder" serializeAs="String">
    <value />
   </setting>
   <setting name="MainPanelColour_R" serializeAs="String">
    <value>17</value>
   </setting>
   <setting name="MainPanelColour_G" serializeAs="String">
    <value>255</value>
   </setting>
   <setting name="MainPanelColour_B" serializeAs="String">
    <value>243</value>
   </setting>
   <setting name="UrlBoxSizeInPercent" serializeAs="String">
    <value>33</value>
   </setting>
  </Hoops_Chromium_Edition.Properties.Settings>
 </userSettings>
</configuration>
